.app-container {
  margin: 20px auto;
  width: 50%;
  text-align: center;
}

.todo-input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.add-button, .delete-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.add-button:hover, .delete-button:hover {
  background-color: #218838;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: gray;
}
.footer {
  background-color: #f8f9fa; /* Light background color */
  color: #343a40; /* Dark text color */
  text-align: center;
  padding: 40px;
  width: 90%;
  border-top: 1px solid #dee2e6; /* Light border at the top */
  margin-bottom: 0;
  position: relative;
  margin-top: 40%;
  bottom: 0;
  background-color: #3a0b6f8f;
  color: rgb(241, 241, 226);
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-content a {
  color: #007bff; /* Bootstrap primary color */
  text-decoration: none; /* No underline */
}

.footer-content a:hover {
  text-decoration: underline; /* Underline on hover */
}
